@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$red : red;
$palebrown: #B29F91;
$background: #422110;
$white: #ececec;

@mixin gradient() {
    background: linear-gradient(to right, #CB8A58, #723d28);
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin container-max-width() {
    max-width: 1280px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background: #e6d7cc6c;
}

input {
    height: 45px;
    border-radius: 5px;
    width: clamp(40px, 85%, 320px);
    padding: 8px;
    margin-block: 8px;
}

input:not([type=submit]) {
    border: 1px solid $palebrown;

}

input[type=submit] {
    @include gradient();
    color: $white;

}

a {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    transition: .5s;
   
}